#

In [3]:
import pandas as pd

In [4]:
green_jobs_df = pd.read_csv('/content/drive/MyDrive/Upwork - St. Paul Clean Energy Jobs/st_paul_green_jobs_data/processed_data/Green Enhanced Skills Occupations - All - Sheet1.csv')

green_jobs_df.head()

    AREA   AREA_TITLE  AREA_TYPE PRIM_STATE  NAICS     NAICS_TITLE  \
0  10180  Abilene, TX          4         TX      0  Cross-industry
1  10180  Abilene, TX          4         TX      0  Cross-industry
2  10180  Abilene, TX          4         TX      0  Cross-industry
3  10180  Abilene, TX          4         TX      0  Cross-industry
4  10180  Abilene, TX          4         TX      0  Cross-industry

          I_GROUP  OWN_CODE OCC_CODE                        OCC_TITLE  ...  \
0  cross-industry      1235  00-0000                  All Occupations  ...
1  cross-industry      1235  11-0000           Management Occupations  ...
2  cross-industry      1235  11-1011                 Chief Executives  ...
3  cross-industry      1235  11-1021  General and Operations Managers  ...
4  cross-industry      1235  11-2021               Marketing Managers  ...

  H_MEDIAN H_PCT75 H_PCT90 A_PCT10 A_PCT25  A_MEDIAN  A_PCT75 A_PCT90 ANNUAL  \
0     18.6   28.03   40.08   22750   28710     38680    58310   83360    NaN
1    39.09   58.27   81.79   42080   59290     81310   121200  170130    NaN
2    97.28       #       #   98490  135280    202340        #       #    NaN
3    37.19   57.85   86.97   34440   49430     77360   120330  180900    NaN
4    45.31   72.66   97.35   60130   74980     94240   151130  202490    NaN

  HOURLY
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 32 columns]

In [5]:
# Filter the DataFrame for 'AREA_TITLE' = 'Minneapolis-St. Paul-Bloomington, MN-WI'
filtered_oews_df = oews_df[oews_df['AREA_TITLE'] == 'Minneapolis-St. Paul-Bloomington, MN-WI']

# Display the first few rows of the filtered DataFrame
print(filtered_oews_df.head())

        AREA                               AREA_TITLE  AREA_TYPE PRIM_STATE  \
82306  33460  Minneapolis-St. Paul-Bloomington, MN-WI          4         MN
82307  33460  Minneapolis-St. Paul-Bloomington, MN-WI          4         MN
82308  33460  Minneapolis-St. Paul-Bloomington, MN-WI          4         MN
82309  33460  Minneapolis-St. Paul-Bloomington, MN-WI          4         MN
82310  33460  Minneapolis-St. Paul-Bloomington, MN-WI          4         MN

       NAICS     NAICS_TITLE         I_GROUP  OWN_CODE OCC_CODE  \
82306      0  Cross-industry  cross-industry      1235  00-0000
82307      0  Cross-industry  cross-industry      1235  11-0000
82308      0  Cross-industry  cross-industry      1235  11-1011
82309      0  Cross-industry  cross-industry      1235  11-1021
82310      0  Cross-industry  cross-industry      1235  11-1031

                             OCC_TITLE  ... H_MEDIAN H_PCT75 H_PCT90 A_PCT10  \
82306                  All Occupations  ...    26.37   39.85    60.7   31320
82307           Management Occupations  ...    61.33   83.45  110.83   60890
82308                 Chief Executives  ...   100.87       #       #   95510
82309  General and Operations Managers  ...    49.26   76.63  105.67   47670
82310                      Legislators  ...        *       *       *   21140

      A_PCT25  A_MEDIAN  A_PCT75 A_PCT90 ANNUAL HOURLY
82306   38380     54850    82890  126260    NaN    NaN
82307   85410    127570   173570  230520    NaN    NaN
82308  140090    209820        #       #    NaN    NaN
82309   66990    102460   159380  219800    NaN    NaN
82310   37050     79000   114000  151910   True    NaN

[5 rows x 32 columns]

In [7]:
filtered_oews_df.to_csv('/content/drive/MyDrive/Upwork - St. Paul Clean Energy Jobs/st_paul_green_jobs_data/raw_data/st_paul_level/OWES_Minneapolis.csv', index=False)